@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eff2f5;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

.animate-down {
  animation: animateDown 0.3s ease 0s both;
}

.animate-delay-500 {
  animation-delay: 500ms;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateDown {
  from {
    z-index: -1;
    transform: translateY(-100px);
  }
  to {
    z-index: -1;
    transform: translateY(0);
  }
}

.bg-gradient {
  background: linear-gradient(135deg, #6f8efa, #a677e3);
}

.bg-gradient-reverse {
  background: linear-gradient(315deg, #6f8efa, #a677e3);
}

.tile {
  background: linear-gradient(135deg, #6f8efa, #a677e3);
  border-radius: 10px;
}

.tile-reverse {
  background: linear-gradient(315deg, #6f8efa, #a677e3);
  border-radius: 10px;
}

.text-gradient {
  background: -webkit-linear-gradient(135deg, #6f8efa, #a677e3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-container {
  position: relative;
  display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroller {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
